<style type="text/css">
    .tg  {border-collapse:collapse;border-color:#93a1a1;border-spacing:0;}
    .tg td{background-color:#fdf6e3;border-color:#93a1a1;border-style:solid;border-width:1px;color:#002b36;
      font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg th{background-color:#657b83;border-color:#93a1a1;border-style:solid;border-width:1px;color:#fdf6e3;
      font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg .tg-9wq8{border-color:inherit;text-align:center;vertical-align:middle}
    .tg .tg-baqh{text-align:center;vertical-align:top}
    .tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
    .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
    .tg .tg-0lax{text-align:left;vertical-align:top}
    </style>
    <table class="tg">
    <thead>
      <tr>
        <th class="tg-c3ow">클래스</th>
        <th class="tg-c3ow">메서드</th>
        <th class="tg-c3ow">입력인자</th>
        <th class="tg-c3ow">출력인자</th>
        <th class="tg-c3ow">기능</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="tg-9wq8" rowspan="10">MainWidget</td>
        <td class="tg-c3ow">init_ui</td>
        <td class="tg-c3ow">-</td>
        <td class="tg-c3ow">-</td>
        <td class="tg-0pky">메인화면</td>
      </tr>
      <tr>
        <td class="tg-c3ow">rotate_character</td>
        <td class="tg-c3ow">-</td>
        <td class="tg-c3ow">-</td>
        <td class="tg-0pky">1초마다 캐릭터 움직임</td>
      </tr>
      <tr>
        <td class="tg-c3ow">ui_tick</td>
        <td class="tg-c3ow">-</td>
        <td class="tg-c3ow">-</td>
        <td class="tg-0pky">gamestate의 tick 함수가 주기적으로 호출될수 있게끔 ui에서 연결</td>
      </tr>
      <tr>
        <td class="tg-c3ow">update_labels_and_bars</td>
        <td class="tg-c3ow">-</td>
        <td class="tg-c3ow">-</td>
        <td class="tg-0pky">사용자의 현재 레벨, 경험치, 체력, 포만감, 청결, 졸림 수치등을 업데이트</td>
      </tr>
      <tr>
        <td class="tg-c3ow">game_clicked</td>
        <td class="tg-c3ow">-</td>
        <td class="tg-c3ow">-</td>
        <td class="tg-0pky">미니게임 화면으로 전환</td>
      </tr>
      <tr>
        <td class="tg-c3ow">keyPressEvent</td>
        <td class="tg-c3ow">event</td>
        <td class="tg-c3ow">-</td>
        <td class="tg-0pky">esc가 눌렸을 때 꺼짐</td>
      </tr>
      <tr>
        <td class="tg-c3ow">closeEvent</td>
        <td class="tg-c3ow">event</td>
        <td class="tg-c3ow">-</td>
        <td class="tg-0pky">writeSaveFile()호출</td>
      </tr>
      <tr>
        <td class="tg-c3ow">readTamago</td>
        <td class="tg-c3ow">-</td>
        <td class="tg-c3ow">-</td>
        <td class="tg-0pky">?????</td>
      </tr>
      <tr>
        <td class="tg-c3ow">writeSaveFile</td>
        <td class="tg-c3ow">-</td>
        <td class="tg-c3ow">-</td>
        <td class="tg-0pky">?????</td>
      </tr>
      <tr>
        <td class="tg-c3ow">write_highscore</td>
        <td class="tg-c3ow">-</td>
        <td class="tg-c3ow">-</td>
        <td class="tg-0pky">게임 종료시 이름과 레벨을 저장 </td>
      </tr>
      <tr>
        <td class="tg-9wq8" rowspan="5">RPSGameWidget</td>
        <td class="tg-c3ow">init_ui</td>
        <td class="tg-c3ow">-</td>
        <td class="tg-c3ow">-</td>
        <td class="tg-0pky">미니게임 화면</td>
      </tr>
      <tr>
        <td class="tg-baqh">closeEvent</td>
        <td class="tg-baqh">a0</td>
        <td class="tg-baqh">-</td>
        <td class="tg-0lax">exit_clicked() 호출</td>
      </tr>
      <tr>
        <td class="tg-baqh">exit_clicked</td>
        <td class="tg-baqh">-</td>
        <td class="tg-baqh">-</td>
        <td class="tg-0lax">게임종료 버튼 누르면 미니게임 종료되고 미니게임 창 닫힘</td>
      </tr>
      <tr>
        <td class="tg-baqh">keyPressEvent</td>
        <td class="tg-baqh">event</td>
        <td class="tg-baqh">-</td>
        <td class="tg-0lax">esc가 눌렸을 때 꺼짐</td>
      </tr>
      <tr>
        <td class="tg-baqh">play_rps</td>
        <td class="tg-baqh">player_choice</td>
        <td class="tg-baqh">-</td>
        <td class="tg-0lax">?????</td>
      </tr>
      <tr>
        <td class="tg-9wq8" rowspan="5">DifficultyView</td>
        <td class="tg-c3ow">create_widgets</td>
        <td class="tg-c3ow">-</td>
        <td class="tg-c3ow">-</td>
        <td class="tg-0pky">?????</td>
      </tr>
      <tr>
        <td class="tg-baqh">plot</td>
        <td class="tg-baqh">difficulty</td>
        <td class="tg-baqh">-</td>
        <td class="tg-0lax">?????</td>
      </tr>
      <tr>
        <td class="tg-baqh">get_scoreboard</td>
        <td class="tg-baqh">-</td>
        <td class="tg-baqh">-</td>
        <td class="tg-0lax">?????</td>
      </tr>
      <tr>
        <td class="tg-baqh">changeValue</td>
        <td class="tg-baqh">-</td>
        <td class="tg-baqh">-</td>
        <td class="tg-0lax">?????</td>
      </tr>
      <tr>
        <td class="tg-baqh">closeEvent</td>
        <td class="tg-baqh">a0</td>
        <td class="tg-baqh">-</td>
        <td class="tg-0lax">?????</td>
      </tr>
    </tbody>
    </table>